*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}
html,
body {
       height: 100%;
       width: 100%;
}
main{
    grid-gap: 20px;
    padding: 20px;
    height: 100%;
    width: 100;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 200px 1fr 1fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "leftdiv bottomup rightdiv"
                         "leftdiv bottomdown rightdiv"
    
    ;
}
header{
    grid-area: header;
    background-color: darkblue;
}
section{
    grid-area: section;
    background-color: lightseagreen;
}
#leftdiv{
    grid-area: leftdiv;
    background-color:red;
}
#bottomup{
    grid-area: bottomup;
    background-color: yellow;
}
#bottomdown{
    grid-area: bottomdown;
    background-color: orange;
}
#rightdiv{
    grid-area: rightdiv;
    background-color: maroon
}