* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    
}

#parent {
    height: 400px;
    width: 100%;
    background-color: grey;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}
#parent::-webkit-scrollbar{
    display: none;
}
#parent::-webkit-scrollbar-thumb{
    background-color: royalblue;
}

.child {
    height: 100%;
    width: 300px;
    border-radius: 5px;
    flex-shrink: 0;
}

.child img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

