* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    padding: 10px;
    grid-gap: 10px;
    height: 100%;
    width: 100;
    text-align: center;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left-top top-center right-top"
        "left-top center right-bottom"
        "left-bottom left-bottom right-bottom"
    ;
}

#left-top {
    border-radius: 10px;
    grid-area: left-top;
    background-color: lightseagreen;
}

#left-bottom {
    border-radius: 10px;
    grid-area: left-bottom;
    background-color: darkblue;
}

#center {
    border-radius: 10px;
    grid-area: center;
    background-color: yellow;
}

#top-center {
    border-radius: 10px;
    grid-area: top-center;
    background-color: darkred;
}

#right-top {
    border-radius: 10px;
    grid-area: right-top;
    background-color: limegreen;
}

#right-bottom {
    border-radius: 10px;
    grid-area: right-bottom;
    background-color: darkmagenta;
}