*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}
html,
body {
       height: 100%;
       width: 100%;
}
main{
    height: 100%;
    width: 100;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 300px 1fr;
    grid-template-areas: "header header"
                         "aside section"
                         "figure figure"
    ;
}
    
header{
    grid-area: header;
    background-color: red;

}
section{
    grid-area: section;
    background-color: lightseagreen;
}
figure{
    grid-area: figure;
    background-color: blueviolet;
}